{% extends 'base.html' %}

{% block title_tab %}
Hola mundo
{% endblock %}

{% block content %}

<h1>Cursos - Ifortab</h1>

<a href="{% url 'curso_crear' %}">Agregar curso</a>s
<a href="{% url 'curso_lista' %}">Lista de cursos</a>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quidem? Sunt iure, consequuntur ab, consectetur
    tenetur voluptate aliquam nam vel cumque illo ad ullam perferendis eos nostrum rem porro! Ipsum!</p>


{% endblock %}