{% extends 'base.html' %}

{% block title_tab %}
Crear curso - Ifortab
{% endblock %}

{% block content %}

<h1>Nuevo curso</h1>
<a href="{% url 'inicio' %}">Inicio</a>

<form action="" method="post">
    {% csrf_token %}    
    
    {{ form.as_p }}

    <!--
    <label for="">Descripcion</label>
    <br>
    <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit">
    -->
    <input type="submit">
</form>

{% endblock %}