{% extends 'base.html' %}

{% block title_tab %}
Lista de cursos
{% endblock %}

{% block content %}

<h1>Lista de cursos - Ifortab</h1>

<a href="{% url 'inicio' %}">Inicio</a>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos_list %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>
                <a href="{% url 'curso_actualizar' curso.pk %}">{{ curso.titulo }}</a>
            </td>
            <td>
                <a href="{% url 'curso_borrar' curso.pk %}">Borrar</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}