{% extends 'base.html' %}

{% block title_tab %}
Actualizar curso - Ifortab
{% endblock %}

{% block content %}

<h1>Actualizar curso {{ curso.id }}</h1>
<a href="{% url 'curso_lista' %}">Lista de cursos</a>
<p>{{ mensaje }}</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit">
</form>

{% endblock %}