{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title_tab %}
        Sistema de inscripcion
        {% endblock %}
    </title>
    <link href="{% static 'bs5.2.1/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    {% block content %}
    {% endblock %}



    <script src="{% static 'bs5.2.1/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>